#services {
    max-width: 25em;
}

.service {
    padding: 0.5em;
    margin-bottom: 1em;
    border-radius: 5px;
    background-color: #eee;
}

.service .update {
    display: inline-block;
    float: right;
}

.servicelink {
    color: inherit;
    text-decoration: none;
}

.fade {
    opacity: 0;
    transition: opacity 1s ease;
}

.service marquee {
    color: gray;
}
.service marquee::before {
    margin-left: 2em;
    content: " ";
}

.goofymarquee {
    white-space: nowrap;
}

.userpreview {
    font-size: 0.7em;
    font-style: italic;
    color: gray;
    transition: opacity 1s ease;
}